/*TEST*/
aside, footer, header, nav, section {
    border-color: green;
    border-style: dotted;
    border-width: 1px;
}

.navbar{
    background-color: rgba(44, 255, 5, 0.75);
    color: black;
}

/*TEST*/
/*FINGER WEG!!! ;-)*/
body {
    padding-top: 47px;
    background-color: rgba(255, 255, 0, 0.16);
    border-color: hotpink;
    border-style: dotted;
    border-width: 1px;
}

#wrapper{
    height: 100%;
    width: 100%;
    margin:auto;
    border-color: blue;
    border-style: dotted;
    border-width: 3px;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: lightgray;
    height: 2em;
    text-align: center;
}

.sectionContent {
    text-align: center;
}

.jumbotron {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 15px;
    margin-bottom: 2px;
}
