<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframwork.org/security/tags" lang="en"
      xmlns="http://www.w3.org/1999/xhtml">
<head th:fragment="head">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="icon" href="../static/icon/ticket.ico"/>
    <title>TicketPockemon</title>
    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../static/css/dashboard.css" rel="stylesheet"/>
    <link href="../static/css/style.css" rel="stylesheet"/>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
</head>


<body>
<div id="container">
    <nav class="navbar navbar-inverse navbar-fixed-top" th:fragment="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a href="#">
                    <style> img {
                        width: 35%;
                    } </style>
                    <img class="logo" src="../static/jpg/pkshop.png"/>
                </a>

                <a class="navbar-brand" href="#"> TicketPockemon </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li th:class="${#httpServletRequest.getRequestURI() == '/'}?'active'"><a href="/">Home</a></li>
                    <li th:class="${#httpServletRequest.getRequestURI() == '/about'}?'active'"><a
                            href="/about"> About </a></li>
                    <li th:class="${#httpServletRequest.getRequestURI() == '/contact'}?'active'"><a href="/contact">Contact</a>
                    </li>

                    <li sec:authorize="isAnonymous()"
                        th:class="${#httpServletRequest.getRequestURI() == '/login'}?'active'"><a
                            href="/login"> Login </a></li>

                    <li sec:authorize="isAuthenticated()"
                        th:class="${#httpServletRequest.getRequestURI() == '/logout'}?'active'"><a
                            href="/logout"> Logout </a></li>

                    <li th:class="${#httpServletRequest.getRequestURI() == '/agb'}?'active'"><a href="/agb">AGB</a></li>

                    <li sec:authorize="hasAnyRole({'Admin'})"><a
                            href="/admin"> Admin </a></li>
                    <!--<li th:text="${#authentication.getAuthorities()}">Admin</li>-->
                </ul>

                <form class="navbar-form navbar-center"> <!-- Search option-->
                    <input type="text" class="form-control" placeholder="Quick Search..."/>
                </form>

            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li class="active"><a href="#"> Overview <span class="sr-only">(current)</span></a></li>
                    <li><a href="#"> Events in Magdeburg </a></li>
                    <li><a href="#"> All Events </a></li>
                    <li><a href="#"> Advanced Search </a></li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li><a href=""> Concert </a></li>
                    <li><a href=""> Culture </a></li>
                    <li><a href=""> Sport </a></li>
                    <li><a href=""> Musical and Show </a></li>
                    <li><a href=""> Comedy </a></li>
                    <li><a href=""> Travel </a></li>
                    <li><a href=""> Special Offer </a></li>
                    <li><a href=""> More ... </a></li>
                </ul>
            </div>
            <!--<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h1 class="page-header">Dashboard</h1>

                <h2 class="sub-header">Section title</h2>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Header</th>
                            <th>Header</th>
                            <th>Header</th>
                            <th>Header</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1,001</td>
                            <td>Lorem</td>
                            <td>ipsum</td>
                            <td>dolor</td>
                            <td>sit</td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>-->
        </div>
    </div>

    <header class="container-fluid">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <!--       <div class=" jumbotron">-->
            <h1 class="page-header"> Magdeburger TicketPockemon </h1>
            <p class="lead"> Here you can obtain an Information about Performances and Events everywhere in Germany!
                <br/>
                All Highlights. All Tickets </p>
            <!--          </div>-->
        </div>
    </header>


    <section>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="sectionContent">
                <section id="sectionHome"><!--Anfang: "Slideshow"-->
                    <div id="slideshow" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <img src="../static/jpg/white_sun.jpg"/>
                            </div>

                            <div class="item">
                                <img src="../static/jpg/moskva.jpg"/>
                            </div>

                            <div class="item">
                                <img src="../static/jpg/mesto.jpg"/>
                            </div>

                            <div class="item">
                                <img src="../static/jpg/tanzy.jpg"/>
                            </div>


                            <div class="item">
                                <img src="../static/jpg/don.jpg"/>
                            </div>

                            <div class="item">
                                <img src="../static/jpg/la.jpg"/>
                            </div>

                            <div class="item">
                                <img src="../static/jpg/ivan.jpg"/>
                            </div>

                            <div class="item">
                                <img src="../static/jpg/brigada.jpg"/>
                            </div>

                            <div class="item">
                                <img src="../static/jpg/3_mushketera.jpg"/>
                            </div>

                        </div>
                        <a class="left carousel-control" href="#slideshow" role="button"
                           data-slide="prev"> <span
                                class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a> <a class="right carousel-control" href="#slideshow" role="button"
                                data-slide="next"> <span
                            class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                    </div><!--Ende: "Slideshow"-->
                </section>
            </div>
        </div>
    </section>

    <footer>        <!--<footer class="container">-->
        <div>
            <h7>MB. Germany 2016. All rights reserved</h7>
        </div>
    </footer>

    <script src="../static/jquery/js/jquery.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/twitter/js/ie10-viewport-bug-workaround.js"></script>
</div>
</body>
</html>